<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Dev Team</h1>
        <p class="lead text-muted">Dev Teams are relentless about quality and build quality into their development artifacts and practices.They follow test-first practices when writing tests for their code (Test-Driven-Development) and acceptance tests for their stories (Behavior-Driven-Development)</p>

    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4" *ngFor="let responsibility of responsibilities">
                <mat-card class="card mb-4 box-shadow">
                    <mat-card-header class="mat-card-header">
                        <!--<div mat-card-avatar class="example-header-image" style="background-image: url('/src/assets/img/prioritising-needs.jpg');"></div>-->
                        <mat-card-title>{{responsibility.name}}</mat-card-title>
                        <!--<mat-card-subtitle>product owner role</mat-card-subtitle>-->
                    </mat-card-header>

                    <mat-card-content class="mat-card-content">
                        <img mat-card-image class="image" src="/assets/DevTeam/{{responsibility.name}}.jpg" alt="Card image cap">
                        <div>
                            {{responsibility.description}}
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                      <a href="https://www.scrum.org/resources/what-is-a-product-owner" target="_blank" mat-button>References</a>
                        <a href="/assets/Policy Rules Register v1.6.xlsx" download #clickReferences></a>
                        <a mat-button (click)="clickReferences.click()"> Templates </a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
